.container
	.jumbotron.text-center
		h1#fp_label

		p Login or Register with:
		a.btn.btn-default(href='/login')
			span.fa.fa-user
			| &nbsp; Local Login
		a.btn.btn-default(ng-click="open_wallet('MasterPass');")
			span.fa.fa-user
			| &nbsp; Open Wallet
	.row
		.span12
			#banks.owl-carousel