.container
	.row.user-menu-container.square
		.col-md-7.user-details
			.row.coralbg.white
				.col-md-6.no-pad
					.user-pad
						h3 Howdy, {{user.name}}
						h4.white
							i.fa.fa-check-circle-o
							| &nbsp; New York, NY
						//- button.btn.btn-labeled
						//- 	span.btn-label
						//- 		i.fa.fa-pencil
						//- 		span &nbsp; Update
				.col-md-6.no-pad
					.user-image
						img.img-responsive.thumbnail(src='https://media.licdn.com/media/p/4/000/170/112/2e97c49.jpg') 
			.row.overview
				.col-md-4.user-pad.text-center
					h3 Given
					h4 2,889
				.col-md-4.user-pad.text-center
					h3 Received
					h4 5,346
				.col-md-4.user-pad.text-center
					h3 Score
					h4 740
		.col-md-1.user-menu-btns 
			#responsive.btn-group-vertical.square
				a.btn.btn-block.btn-default.active
					i.fa.fa-bell-o.fa-3x
				a.btn.btn-block.btn-default
					i.fa.fa-envelope-o.fa-3x
				a.btn.btn-block.btn-default
					i.fa.fa-laptop.fa-3x 
				a.btn.btn-block.btn-default
					i.fa.fa-cloud-upload.fa-3x
		.col-md-4.user-menu.user-pad
			.user-menu-content.active
				h3 Recent Interactions
				ul
					li
						h4
							i.fa.fa-user.coral
							| &nbsp; Roselynn Smith followed you.
					li
						h4
							i.fa.fa-user.coral
							| &nbsp; Roselynn Smith followed you.
					li
						h4
							i.fa.fa-user.coral
							| &nbsp; Roselynn Smith followed you.