doctype html
html(ng-app='opprt')
	head
		title='Opprt'
		base(href='/')
		link(rel="stylesheet" href="/css/bootstrap.css")
		link(rel="stylesheet" href="/css/font-awesome.css")
		link(rel="stylesheet" href="/css/opprt.css")
		link(rel="stylesheet" href="/css/animations.css")
		link(rel="stylesheet" href="/css/owl.carousel.css")
		link(rel="stylesheet" href="/css/owl.theme.css")
		link(rel="stylesheet" href="/css/owl.transitions.css")


		script(src='/js/jquery.js')
		script(src='/js/angular.js')
		script(src='/js/angular-animate.js')
		script(src='/js/angular-resource.js')
		script(src='/js/angular-route.js')
		script(src='/js/app.js')
		script(src='/js/routes.js')
		script(src='/js/fingerprint.js')
		script(src='/js/owl.carousel.js')
		
	body(ng-view)
		